<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input placeholder="Type IP" type="text" [value]="currentIp" formControlName="formIp">
    <button type="submit">Check IP</button>
  </form>
  <div class="item" *ngIf="currentLoc">
      <div class="item-top">
        <img [src]="currentLoc.flagUrl?.toLowerCase()" width="40" alt="Flag img"country_name>
        <div>IP location: {{currentLoc.country_name ? currentLoc.country_name : "NULL"}}</div>
      </div>
    <div class="item-bottom">
        <!-- <div><small><b>asn</b></small><br>{{currentLoc.asn ? currentLoc.asn : "NULL"}} <br></div> -->
        <!-- <div><small><b>continent_code</b></small><br>{{currentLoc.continent_code ? currentLoc.continent_code : "NULL"}} <br></div> -->
        <div><small><b>CITY, STATE</b></small><br>{{currentLoc.city ? currentLoc.city : "NULL"}} <br></div>
        <div><small><b>COUNTRY CODE</b></small><br>{{currentLoc.country ? currentLoc.country : "NULL"}} <br></div>
        <div><small><b>COUNTRY AREA</b></small><br>{{currentLoc.country_area ? currentLoc.country_area : "NULL"}} <br></div>
        <div><small><b>CALLING CODE</b></small><br>{{currentLoc.country_calling_code ? currentLoc.country_calling_code : "NULL"}} <br></div>
        <div><small><b>CITY</b></small><br>{{currentLoc.country_capital ? currentLoc.country_capital : "NULL"}} <br></div>
        <!-- <div><small><b>country_code</b></small><br>{{currentLoc.country_code ? currentLoc.country_code : "NULL"}} <br></div> -->
        <div><small><b>country_code_iso</b></small><br>{{currentLoc.country_code_iso3 ? currentLoc.country_code_iso3 : "NULL"}} <br></div>
        <div><small><b>country_population</b></small><br>{{currentLoc.country_population ? currentLoc.country_population : "NULL"}} <br></div>
        <div><small><b>country_tld</b></small><br>{{currentLoc.country_tld ? currentLoc.country_tld : "NULL"}} <br></div>
        <div><small><b>currency</b></small><br>{{currentLoc.currency ? currentLoc.currency : "NULL"}} <br></div>
        <div><small><b>currency_name</b></small><br>{{currentLoc.currency_name ? currentLoc.currency_name : "NULL"}} <br></div>
        <!-- <div><small><b>in_eu</b></small><br>{{currentLoc.in_eu ? currentLoc.in_eu : "NULL"}} <br></div> -->
        <div><small><b>ip</b></small><br>{{currentLoc.ip ? currentLoc.ip : "NULL"}} <br></div>
        <div><small><b>languages</b></small><br>{{currentLoc.languages ? currentLoc.languages : "NULL"}} <br></div>
        <div><small><b>latitude</b></small><br>{{currentLoc.latitude ? currentLoc.latitude : "NULL"}} <br></div>
        <div><small><b>longitude</b></small><br>{{currentLoc.longitude ? currentLoc.longitude : "NULL"}} <br></div>
        <div><small><b>network</b></small><br>{{currentLoc.network ? currentLoc.network : "NULL"}} <br></div>
        <div><small><b>org</b></small><br>{{currentLoc.org ? currentLoc.org : "NULL"}} <br></div>
        <div><small><b>postal</b></small><br>{{currentLoc.postal ? currentLoc.postal : "NULL"}} <br></div>
        <div><small><b>region</b></small><br>{{currentLoc.region ? currentLoc.region : "NULL"}} <br></div>
        <div><small><b>region_code</b></small><br>{{currentLoc.region_code ? currentLoc.region_code : "NULL"}} <br></div>
        <div><small><b>timezone</b></small><br>{{currentLoc.timezone ? currentLoc.timezone : "NULL"}} <br></div>
        <div><small><b>utc_offset</b></small><br>{{currentLoc.utc_offset ? currentLoc.utc_offset : "NULL"}} <br></div>
        <div><small><b>version</b></small><br>{{currentLoc.version ? currentLoc.version : "NULL"}} <br></div>
      </div>
  </div>
</div>